body {
background: #222222;
color: #ffffff;
font: 1.2em "Liberation Sans", sans-serif;
}

a {
color: #bbbbbb;
text-decoration: underline;
}

a:hover {
color: #eeeeee
text-decoration: none;
}

img {
opacity: 0.3;
}

.title {
text-align: center;
}

.theme {
position: absolute;
top: 10px;
right: 10px;
}

.flags {
position: relative;
top: 50%;
transform: translateY(50%);
}

.en, .fr {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.flag-container {
display: flex;
justify-content: space-evenly;
}

.index-footer {
position: absolute;
bottom: 20px;
left: 0;
right: 0;
justify-content: center;
text-align: center;
font-size: 15px;
border: 3px solid #ffffff;
}

.footer {
position: fixed;
bottom: -25px;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
font-size: 15px;
border: 3px solid #ffffff;
}
