<!DOCTYPE html>
<html>

<head>
  <title>Ghosty's Website</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style/dark-theme.css">
</head>

<body>
  <a href="http://thefrenchghosty.xyz">Home</a>
  <div class="theme">
    <a href="TEMPLATE-en.html">Light Theme</a>
  </div>
  <h1 class='title'>TITLE</h1>
CONTENT
  <div class="footer">
    <p><a href="support-en-dark.html">Support the Development</a></p>
  </div>
</body>

</html>
