<!DOCTYPE html>
<html>

<head>
  <title>Ghosty's Website</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style/style.css">
</head>

<body>
  <a href="http://thefrenchghosty.xyz">Accueil</a>
  <div class="version">
    <a href="TEMPLATE-en.html">English Version</a>
  </div>
  <h1 class='title'>TITRE</h1>
CONTENU
  <div class="footer">
    <p><a href="about-fr.html">Soutenez le Développement</a></p>
  </div>
</body>

</html>
